<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samteladze.delta.energy_profiler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.samteladze.delta.energy_profiler.ExperimentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".OnAlarmReceiver" />
        
        <service android:name=".IdleExperimentConditionsService" 
            	 android:label="Idle Conditions" />
        <service android:name=".ScreenExperimentConditionsService" 
            	 android:label="Screen Conditions" />
        <service android:name=".CPUDiffExperimentConditionsService" 
            	 android:label="CPU Diff Conditions" />
        <service android:name=".Net4GExperimentConditionsService" 
            	 android:label="Net 4G Conditions" />
        
        
    </application>

</manifest>